:root {
    --header-color: #003366;
    --sidebar-bg-color: #F0F0F0;
    --sidebar-accent-color: #83d384;
    --main-area-bg-color: #FAFAFA;
    --button-link-color: #007BFF;
    --primary-text-color: #333333;
    --low-priority-color: #add8e6;
    --medium-priority-color: #ffff99;
    --high-priority-color: #ff9999;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body{
    color: var(--primary-text-color);
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto minmax(0, 1fr) auto;
    font-size: 1.2rem;
}

header, footer{
    height: 5rem;
}

header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--header-color);
    color: white;
    display: flex;
    align-items: center;
}

header .list{
    background-image: url('./list.svg');
    padding: 1rem;
    margin: 1rem;
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: invert(1);
}

header h1{
    padding: 1rem;
    text-align: start;
    font-size: 2rem;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 1rem;
    background-color: var(--sidebar-bg-color);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sidebar .add-task{
    margin: 1rem;
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.sidebar .task-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1rem;
    width: 100%;
    list-style: none;
}

.sidebar .task-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: default;
}

.sidebar .task-list .task-buttons{
    display: flex;
    gap: 1rem;
}

.task-buttons button{
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.task-buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    border-radius: 50%;
}

.sidebar .task-list .edit-task{
    background-image: url('./edit.svg');
}

.sidebar .task-list .delete-task{
    background-image: url('./delete.svg');
}

.sidebar .task-list .task span{
    cursor: pointer;
}

.sidebar .task-list .task span:hover{
   transform: scale(1.05);
}

.add-task:hover{
    transform: scale(1.05);
}

.sidebar .task-list .selected{
    color: var(--sidebar-accent-color);
}

.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--main-area-bg-color);
    color: #333;
    position: relative;
}

.main .todos-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    padding: 1rem;
}


.main .todos-container .high-priority{
    background-color: var(--high-priority-color);
}

.main .todos-container .medium-priority{
    background-color: var(--medium-priority-color);
}

.main .todos-container .low-priority{
    background-color: var(--low-priority-color);
}

.main .todos-container .done{
    background-color: var(--sidebar-accent-color);
    text-decoration: line-through;
}

.main .todo{
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.main .add-todo{
    position: absolute;
    border-radius: 50%;
    bottom: 3.5rem;
    right: 3.5rem;
    z-index: 1;
    background-color: var(--header-color);
    color: white;
    padding: 0.75rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.main .add-todo:hover{
    transform: scale(1.05);
    font-size: scale(1.05);
}

.todo-buttons{
    display: flex;
    gap: 1rem;
    align-self: end;
}

.todo-buttons button{
    width: 1.5rem;
    height: 1.5rem;
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.todo-buttons button:hover {
    transform: scale(1.05); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    border-radius: 50%;
}

.todo-buttons .done-todo{
    background-image: url('./done.svg');
}

.todo-buttons .edit-todo{
    background-image: url('./edit.svg');
}

.todo-buttons .delete-todo{
    background-image: url('./delete.svg');
}

footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: var(--header-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#todoForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#taskForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#taskName{
    grid-column: 1/3;
}

#confirmForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#confirmForm .form-buttons{
    display: flex;
    width: 100%;
    gap: 10px;
}

#confirmForm .form-buttons button{
    flex: 1;
    cursor: pointer;
}

@media (min-width: 600px) {
    body {
        font-size: calc(1rem + 0.125vw); /* Slightly larger font size for wider screens */
    }
}

@media (min-width: 1000px) {
    body {
        font-size: calc(1rem + 0.25vw); /* Even larger font size for desktop screens */
    }
}

@media (max-width: 800px) {
   .sidebar.shown{
       display: flex;
   }

   .sidebar{
        grid-column: 1 / 3;
        display: none;
   }

   header .list{
       display: block;
   }

   .main.hidden{
        display: none;
   }

   .main{
       grid-column: 1 / 3;
       display: block;
   }
}